<ng-container *ngIf="data$ | async as data">

    <div class="settings-page" *ngIf="currentUser">
        <div class="contanier page">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">Settings</h1>
                    <sw-backend-error-messages *ngIf="data.backendErrors"
                    [backendErrors]="data.backendErrors"></sw-backend-error-messages>

                    <form name="loginForm" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <fieldset class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Display Name"
                                formControlName="displayName" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Email"
                                formControlName="email" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="password" class="form-control form-control-lg" placeholder="Password"
                                formControlName="password" />
                        </fieldset>
                        <fieldset class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary pull-xs-right"
                            [disabled]="form.invalid || data.isSubmitting"
                               >
                                Update settings
                            </button>
                        </fieldset>
                    </form>
                    <hr />
                    <button type="submit" class="btn btn-outline=danger"
                            (click)="onLogout()"
                               >
                               Or click here to logout
                            </button>
                </div>
            </div>
        </div>

    </div>
</ng-container>