<h1 class="h6 mb-0 lh-5">Summary</h1>
<p class="fw-light mb-1"><small>Since first purchase | Includes open position only</small></p>

<div class="d-flex">
    <div class="flex-fill">
        <h1 class="h3 mb-0 lh-5">Total return</h1>
        <p>AU$00.00</p>
    </div>
    <div class="flex-fill">
        <h1 class="h3 mb-0 lh-5">Capital Gain</h1>
        <p>AU$00.00</p>
    </div>
    <div class="flex-fill">
        <h1 class="h3 mb-0 lh-5">Dividends</h1>
        <p>AU$00.00</p>
    </div>
</div>

<!-- Share Trades History -->
<div class="pt-5 pe-5">
    <h1 class="h6 mb-2 lh-5">All trades & adjustments</h1>
    <div class="table-responsive small">
        <table class="table table-sm">
            <thead >
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                    <th scope="col">Fees</th>
                    <th scope="col">Value</th>
                    <th scope="col">...</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>30 March 2024</td>
                    <td>Buy</td>
                    <td>55</td>
                    <td>AU$57.19</td>
                    <td>AU$19.95</td>
                    <td>AU$2,879.45</td>
                    <td>Edit</td>
                </tr>
                <tr>
                    <td>30 March 2024</td>
                    <td>Buy</td>
                    <td>55</td>
                    <td>AU$57.19</td>
                    <td>AU$19.95</td>
                    <td>AU$2,879.45</td>
                    <td>Edit</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Dividends History -->
<div class="pt-5 pe-5">
    <h1 class="h6 mb-2 lh-5">All dividends</h1>
    <div class="table-responsive small">
        <table class="table table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col">Date Paid</th>
                    <th scope="col">Amount per share</th>
                    <th scope="col">Gross Payment</th>
                    <th scope="col">Franding Credits</th>
                    <th scope="col">Net Payment</th>
                    <th scope="col">...</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>30 March 2024</td>
                    <td>AU$2.50</td>
                    <td>AU$392.86</td>
                    <td>AU$117.86</td>
                    <td>AU$275.00</td>
                    <td>Edit</td>
                </tr>
                <tr>
                    <td>28 Mar 2024</td>
                    <td>AU$2.50</td>
                    <td>AU$392.86</td>
                    <td>AU$117.86</td>
                    <td>AU$275.00</td>
                    <td>Edit</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>