<ng-container>
    <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/">...</a>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <!-- <a routerLink="/" class="nav-link">Home</a> -->
                </li>

                @if(authService.currentUserSig()) {
                <ng-container>
                    <li class="nav-item">
                        <a routerLink="/articles/new" class="nav-link">
                            <i class="ion-compose"></i>
                            &nbsp; New Portfolio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/settings" class="nav-link">
                            <i class="ion-gear-a"></i>
                            &nbsp; Settings
                        </a>
                    </li>
                    <li class="nav-item">
                      <a [routerLink]="['/profiles', authService.currentUserSig()?.displayName]" class="nav-link">
                          <!-- <img class="user-pic"  [src]="data.currentUser.image" /> -->
                          &nbsp; {{ authService.currentUserSig()?.displayName || authService.currentUserSig()?.email }}
                      </a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onLogout()">
                            logout
                        </a>
                    </li>
                </ng-container>
                }

                @if(authService.currentUserSig() == null) {
                <ng-container>
                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link">
                            Sign In
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/register" class="nav-link">
                            Sign Up
                        </a>
                    </li>
                </ng-container>
                }
            </ul>
        </div>
    </nav>
</ng-container>