<main class="container overflow-hidden shadow-sm gx-0 gy-0">
    <div class="d-flex align-items-center p-3 my-0 bg-body-tertiary">
        <div class="lh-1">
            <h1 class="h4 mb-0 lh-5">Australian Shares</h1>
            <p class="fw-light mb-1"><small class="fw-light">Account ID: 12345678</small></p>
        </div>
        <div class="ms-auto lh-1">
            <button type="button" class="btn btn-primary me-3" routerLink="/holdings">Holdings</button>
        </div>
    </div>
    <div class="p-3 pt-0 my-3 gx-0 border-bottom border-opacity-25">
        <div class="lh-1">
            <h1 class="h6 mb-0 lh-5">Shares</h1>
        </div>
    </div>
    <div class="p-3 pt-0 my-3">
        <div class="row border-bottom border-opacity-10 pb-2 pt-2">
            <div class="col">
                <div>
                    <div>Today's Change</div>
                    <div>$0.00</div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div>Portfolio Market Value</div>
                    <div>$0.00</div>
                </div>
            </div>
        </div>

        <div class="row pb-2 pt-2">
            <div class="col">
                <div>
                    <div>Total Profit/Loss</div>
                    <div>$0.00</div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div>Total Cost</div>
                    <div>$0.00</div>
                </div>
            </div>
        </div>
    </div>
</main>